## ---------------------------
##
## Script name: 
##
## Purpose of script: 
##
## Author: Szi Kay Leung
##
## Date Created: 02-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
##   
##   
##  
## ---------------------------

## ---------------------------

export NAME=SFARI
export ROOT_DIR=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARIdevelopmentalgenomics
export TAPPAS_DIR=$ROOT_DIR/9_tappAS_SK


export SQ_GFF3=$ROOT_DIR/8_SQANTI3_RB/sqanti3Filtered2.gff3
export EXP=$ROOT_DIR/7_Talon_RB/AllSamples_abundance_talon_abundance_filtered.tsv
export SQ_CLASS=$ROOT_DIR/8_SQANTI3_RB/sqanti3Filtered2_classification.filtered_lite_classification.txt
export TAPPAS_PHENO=$TAPPAS_DIR/phenotype.txt
export TAPPAS_FACTOR=$TAPPAS_DIR/factors.txt


## ---------------------------

## Source functions and scripts directory 
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General

## ---------------------------


