## ---------------------------
##
## Script name: 0_mass_spec.config
##
## Purpose of script: Config file for running mass-spectrometry dataset
##
## Author: Szi Kay Leung
##
## Date Created/Last updated: 11/2024
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
## Notes
## ---------------------------


## ---------------------------

export SOFTDIR=/lustre/projects/Research_Project-MRC148213/lsl693/software
export LREAD=${SOFTDIR}/Long-Read-Proteogenomics/modules/

# reference directory
#wget https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz
refDir=/lustre/projects/Research_Project-MRC148213/lsl693/references
gencode_gtf=${refDir}/human/gencode.v40.annotation.gtf
gencode_fa=${refDir}/human/hg38.fa
gencode_transcript_fasta=${refDir}/human/gencode.v40.transcripts.fa
gencode_translation_fasta=${refDir}/human/gencode.v40.pc_translations.fa
uniprot_fasta=/lustre/projects/Research_Project-MRC148213/lsl693/references/human/homo_sapiens_uniprot.fasta


## ---------------------------

# cpat files
hexamer=${refDir}/CPAT/Human_Hexamer.tsv
logit_model=${refDir}/CPAT/Human_logitModel.RData


## ---------------------------

# sqanti files
sqantiDir=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARI/C_Whole_Targeted/9_sqanti_final
classification=${sqantiDir}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron_classification.txt
sqanti_fasta=${sqantiDir}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron.fasta
sqanti_gtf=${sqantiDir}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron.filtered.gtf


## ---------------------------

# proteogenomic files
Part1WKD=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARI/C_Whole_Targeted/10_longReadProteogenomics
protein_fasta=${Part1WKD}/7_classified_protein/Whole.filtered_protein.fasta


## ---------------------------

# metamorpheus input files
#wget https://zenodo.org/record/5076056/files/Task1SearchTaskconfig_orf.toml
metamorpheus_dir=/lustre/projects/Research_Project-MRC148213/lsl693/software/MetaMorpheus
metamorpheus_toml=${refDir}/metamorpheus/Task1SearchTaskconfig_orf.toml
meta_rescue_toml=${refDir}/metamorpheus/Task1SearchTaskconfig_rescue_resolve.toml


## ---------------------------

# mass-spectrometry data
Part2WKD=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARI/C_Whole_Targeted/13_massSpec/v2
mass_spec=/lustre/projects/Research_Project-MRC148213/lsl693/AD_BDR/1_raw/C_Proteomics
name=Whole
coding_score_cutoff=0.0
min_junctions_after_stop_codon=2
lower_kb=1
upper_kb=4
lower_cpm=3

mass_spec_dataset=(
  ${mass_spec}/20210108_AD_1.raw
  ${mass_spec}/20210108_AD_2.raw
  ${mass_spec}/20210112_AD_3.raw
  ${mass_spec}/20210112_AD_4.raw
  ${mass_spec}/20210115_AD_5.raw
  ${mass_spec}/20210115_AD_6.raw
  ${mass_spec}/20210120_AD_7.raw
  ${mass_spec}/20210330_AD_8.raw
  ${mass_spec}/20210328_AD_9.raw
  ${mass_spec}/20210325_AD_10.raw
  ${mass_spec}/20210324_AD_11.raw
  ${mass_spec}/20210308_AD_12.raw
  ${mass_spec}/20210108_AD_13.raw
  ${mass_spec}/20210108_AD_14.raw
  ${mass_spec}/20210112_AD_15.raw
  ${mass_spec}/20210112_AD_16.raw
  ${mass_spec}/20210115_AD_17.raw
  ${mass_spec}/20210115_AD_18.raw
  ${mass_spec}/20210120_AD_19.raw
  ${mass_spec}/20210330_AD_20.raw
  ${mass_spec}/20210328_AD_21.raw
  ${mass_spec}/20210325_AD_22.raw
  ${mass_spec}/20210324_AD_23.raw
  ${mass_spec}/20210308_AD_24.raw
  ${mass_spec}/20210110_AD_25.raw
  ${mass_spec}/20210108_AD_26.raw
  ${mass_spec}/20210112_AD_27.raw
  ${mass_spec}/20210112_AD_28.raw
  ${mass_spec}/20210115_AD_29.raw
  ${mass_spec}/20210115_AD_30.raw
  ${mass_spec}/20210120_AD_31.raw
  ${mass_spec}/20210330_AD_32.raw
  ${mass_spec}/20210328_AD_33.raw
  ${mass_spec}/20210325_AD_34.raw
  ${mass_spec}/20210324_AD_35.raw
)