## ---------------------------
##
## Script name: 2a_bdr_proteomics.config
##
## Purpose of script: Config file for running proteogenomics pipeline on SFARI dataset
##
## Author: Szi Kay Leung
##
## Date Created/Last updated: 11/2024
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
## Notes
## ---------------------------

export NAME=Whole
export SPECIES=hg38

## ---------------------------

## Output root directory filepath (ensure path exists)
export WKD_ROOT=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARI/C_Whole_Targeted/10_longReadProteogenomics

## ---------------------------

## Software
export SOFTDIR=/lustre/projects/Research_Project-MRC148213/lsl693/software
export REFDIR=/lustre/projects/Research_Project-MRC148213/lsl693/references

export LOGEN=/lustre/projects/Research_Project-MRC148213/lsl693/scripts/LOGen/proteomics/bin
export LREAD=${SOFTDIR}/Long-Read-Proteogenomics/modules/
export HEXAMER=${REFDIR}/CPAT/Human_Hexamer.tsv
export LOGITMODEL=${REFDIR}/CPAT/Human_logitModel.RData
export PYTHONPATH=$PYTHONPATH:${SOFTDIR}/cDNA_Cupcake/sequence/

## ---------------------------

## Reference data filepaths
export GENOME_GTF=${REFDIR}/annotation/gencode.v40.annotation.gtf
export GENOME_FASTA=${REFDIR}/human/hg38.fa
export GENOME_TRANSCRIPT_FASTA=${REFDIR}/human/gencode.v38.transcripts.fa
export GENOME_TRANSLATION_FASTA=${REFDIR}/human/gencode.v38.pc_translations.fa
export UNIPROT_FASTA=${REFDIR}/human/homo_sapiens_uniprot.fasta

## Uniprot
# uniprot-compressed_true_download_true_format_fasta_includeIsoform_tr-2022.07.13-09.34.19.50.fasta.gz
# mv uniprot-compressed_true_download_true_format_fasta_includeIsoform_tr-2022.07.13-09.34.19.50.fasta homo_sapiens_uniprot.fasta

## ---------------------------

## Long Read data (SQANTI3 files)
export SQANTIDIR=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARI/C_Whole_Targeted/9_sqanti_final

# Whole Dataset
export ISO_CLASSFILE=${SQANTIDIR}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron_classification.txt
export ISO_FASTA=${SQANTIDIR}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron.fasta
export ISO_GTF=${SQANTIDIR}/sqantifiltered_monoexonicfiltered_2reads2samples_whole_intergenicGenicIntron.filtered.gtf

## ---------------------------

## Parameters for long read proteogenomics pipeline
coding_score_cutoff=0.0
min_junctions_after_stop_codon=2
lower_kb=1
upper_kb=4
lower_cpm=3