## ---------- Script -----------------
##
## Script name: 
##
## Purpose of script: 
##
## Author: Szi Kay Leung
##
## Email: S.K.Leung@exeter.ac.uk
##
## ---------- Notes -----------------
##
## Using the whole transcriptome samples dataset (n = 39) with duplicated samples
##   
##
##

NAME=SFARI

export ROOT_DIR=/lustre/projects/Research_Project-MRC190311/longReadSeq/ONTRNA/SFARIdevelopmentalgenomics
export RB_SCRIPTS_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/Rosie/scripts
export CHAR_DIR=${ROOT_DIR}/10_characterisation_SK
export CPAT_DIR=${RB_SCRIPTS_DIR}/CPAT

## ---------- Brain -------------------------------------------

export BRAIN_SQ_DIR=${ROOT_DIR}/8_SQANTI3_RB/
export BRAIN_SQ_SUBSET_DIR=${ROOT_DIR}/10_characterisation_SK/Brain_subset
export BRAIN_SQ_SUBSET_WHOLE_DIR=${ROOT_DIR}/10_characterisation_SK/Brain_subset/Whole
export BRAIN_SQ_SUBSET_TARGETED_DIR=${ROOT_DIR}/10_characterisation_SK/Brain_subset/Targeted

## ---------- Whole Transcriptome -----------

export BRAIN_SQ_WHOLE_CLASS=${ROOT_DIR}/8_SQANTI3_RB/sqanti3Filtered2_classification.filtered_lite_classification.txt
export BRAIN_SQ_WHOLE_GTF=${ROOT_DIR}/8_SQANTI3_RB/sqanti3Filtered2_classification.filtered_lite.gtf
export BRAIN_TALON_WHOLE_ABUNDANCE=${ROOT_DIR}/7_Talon_RB/AllSamples_talon_abundance_filtered.tsv
export BRAIN_WHOLE_META=${ROOT_DIR}/10_characterisation_SK/0_metadata/Brain_WholeTranscriptome_SFARI_duplicatedsamples_metadata.txt
export SAMPLE_META=/lustre/projects/Research_Project-MRC190311/scripts/sequencing/longReadseq/jobSubmission/scratch/sample_metadata.txt

## ---------- Targeted Transcriptome -----------

export BRAIN_SQ_TARGETED_CLASS=${RB_SCRIPTS_DIR}/SQANTI3-4.2/Targeted_Batch1_SQANTI3/Targeted_Batch1_SQANTI3_classification.filtered_lite_classification.txt
export BRAIN_SQ_TARGETED_GTF=${RB_SCRIPTS_DIR}/SQANTI3-4.2/Targeted_Batch1_SQANTI3/Targeted_Batch1_SQANTI3_classification.filtered_lite.gtf
export BRAIN_TALON_TARGETED_ABUNDANCE=${RB_SCRIPTS_DIR}/TALON_human/TALON_batch1_targeted_abundance_talon_abundance_filtered.tsv
export BRAIN_TARGETED_META=${ROOT_DIR}/10_characterisation_SK/0_metadata/Brain_TargetedTranscriptome_SFARI_metadata.txt 
export TGENES_TXT=${ROOT_DIR}/0_metadata/Complete_TargetGenes_TargetedSequencing.txt


## ---------- Pancreas -------------------------------------------

export PANCREAS_ROOT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/Rosie/Targeted/P0055_20220623_10661/AM/20220623_1515_2E_PAI82330_18b0e941/Porechop/pc_test/combined
export BRAIN_PANCREAS_DIR=${ROOT_DIR}/10_characterisation_SK/Brain_vs_Pancreas
export PANCREAS_GTF=${PANCREAS_ROOT_DIR}/Targeted_AM_SQANTI3/Targeted_AM_SQANTI3_classification.filtered_lite.gtf

export BRAIN_PANCREAS_GTF=${ROOT_DIR}/9_tappAS_SK/1_Input/C_BrainvsPancreas/merged_brain_pancreas_fetal_targeted.gtf

# CPAT potential 
export BRAIN_WHOLE_CPAT=${CPAT_DIR}/10380_whole.ORF_prob.best.tsv
export BRAIN_WHOLE_CPAT_NOORF=${CPAT_DIR}/10380_whole.no_ORF.txt
export BRAIN_TARGETED_CPAT=${CPAT_DIR}/Batch1_targeted.ORF_prob.best.tsv
export BRAIN_TARGETED_CPAT_NOORF=${CPAT_DIR}/Batch1_targeted.no_ORF.txt


## ---------------------------

## Reference 
export REFERENCE=/gpfs/mrc0/projects/Research_Project-MRC148213/Rosie/Reference
export GENOME_FASTA=$REFERENCE/Hg38.fa
export GENOME_GTF=$REFERENCE/gencode.v38.annotation.gtf


## ---------------------------

## Software 
export SOFTDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software
export PATH=$PATH:$SOFTDIR/gffcompare
export CUPCAKE=$SOFTDIR/Post_Isoseq3/cDNA_Cupcake
export SEQUENCE=$CUPCAKE/sequence
export PYTHONPATH=$PYTHONPATH:$SEQUENCE
export SQANTI3_DIR=$SOFTDIR/SQANTI3
export SQ_Report=$SOFTDIR/Post_Isoseq3/SQANTI2/utilities/SQANTI_report2.R
export TAPPAS_dir=$SOFTDIR/TAPPAS

## ---------------------------

## Software input files
# SQANTI3 input files
CAGE_PEAK=$SQANTI3_DIR/data/ref_TSS_annotation/human.refTSS_v3.1.hg38.bed
POLYA=$SQANTI3_DIR/data/polyA_motifs/mouse_and_human.polyA_motif.txt
GFF3=$TAPPAS_dir/Homo_sapiens_GRCh38_Ensembl_86.gff3
export IsoAnnot=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software/TAPPAS
export IsoAnnot_Ref=$IsoAnnot/Homo_sapiens_GRCh38_Ensembl_86.gff3
defaultJson=$SQANTI3_DIR/utilities/filter/filter_default.json
reducedJson=$SQANTI3_DIR/utilities/filter/filter_default_reducecoverage.json
relaxedJson=$SQANTI3_DIR/utilities/filter/filter_relaxed.json

# CPAT
export SKREF=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references
export HEXAMER=${SKREF}/CPAT/Human_Hexamer.tsv
export LOGITMODEL=${SKREF}/CPAT/Human_logitModel.RData

## ---------------------------

## Internal Scripts 
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation
SQTABCOUNTS=$GENERALFUNC/merge_talon_sqanti_forcounts.R
SQCOUNT=$GENERALFUNC/subset_casecontrol_by_counts.R
SQSUBSET=$GENERALFUNC/sqanti_classgtfsubset.R
ISOCOL=$GENERALFUNC/colour_common_targeted_transcripts.py

